

<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/beat-competitors-of-a-1-courier-in-seo-2.png" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/beat-competitors-of-a-1-courier-in-seo-2.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "beat-competitors-of-a-1-courier-in-seo-2" })">Beat Competitors of A-1 Courier in SEO</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "beat-competitors-of-a-1-courier-in-seo-2" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/suninme-org-seo-work-2.png" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/suninme-org-seo-work-2.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "suninme-org-seo-work-2" })">Suninme.org SEO Work</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "suninme-org-seo-work-2" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/seo-for-admiral-farragut-academy.png" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/seo-for-admiral-farragut-academy.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-admiral-farragut-academy" })">SEO for Admiral Farragut Academy</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-admiral-farragut-academy" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/think-up-themes.png" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/think-up-themes.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-think-up-themes" })">SEO For ThinkUpThemes</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-think-up-themes" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/seo-for-eiksmarka.png" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/seo-for-eiksmarka.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-eiksmarka" })">SEO For Eiksmarka</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-eiksmarka" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/seo-for-mgbtechnik.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/seo-for-mgbtechnik.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-mgbtechnik" })">SEO For mgbtechnik.com</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "seo-for-mgbtechnik" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/web-development-for-drive-xcel.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/web-development-for-drive-xcel.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "web-development-for-drive-xcel" })">DriveXcel: Accelerating Digital Success in Driving Education</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "web-development-for-drive-xcel" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/portfolio/web-development-for-flexi-biz-pro.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/portfolio/web-development-for-flexi-biz-pro.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "web-development-for-flexi-biz-pro" })">FlexiBizPro: Dynamic Enterprise Management System</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "web-development-for-flexi-biz-pro" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>