<!-- Case Block -->
<div class="case-block mix all graphic-designing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/1.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/1.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "app-designs" })">App Designing</a></h4>
                    <div class="category">Designing</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "app-designs" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all graphic-designing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/2.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/2.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "banner-designs" })">Banner Designing</a></h4>
                    <div class="category">Designing</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "banner-designs" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all graphic-designing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/3.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/3.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "logo-designs" })">Logo Designing</a></h4>
                    <div class="category">Designing</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "logo-designs" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all graphic-designing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/1.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/1.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "social-media-posts-designs" })">Social Media Posts Designing</a></h4>
                    <div class="category">Designing</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "social-media-posts-designs" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all graphic-designing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/2.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/2.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "web-designs" })">Web Designing</a></h4>
                    <div class="category">Designing</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "web-designs" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all search-engine-marketing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/3.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/3.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "c-maxi-seo-and-google-adwords" })">C-Maxi SEO and Google Adwords</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioTitle = "c-maxi-seo-and-google-adwords" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/11.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/11.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">SEO for Live Training Lab</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/12.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/12.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Ranking #1 Blockchain Business Directory</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Beat Competitors of A-1 Courier in SEO</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">SEO Work of Garage Excel</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Website Audit for Interior Fitout Company</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Suninme.org SEO Work</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all search-engine-optimization col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Yoga Website SEO</a></h4>
                    <div class="category">SEO</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all social-media-marketing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">C-Maxi Social Media Marketing</a></h4>
                    <div class="category">Social Media Marketing</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all social-media-marketing col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">YouTube Channel SEO Audit and Work</a></h4>
                    <div class="category">Social Media Marketing</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all web-and-mobile-design col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Website & Mobile App Development</a></h4>
                    <div class="category">Web & Mobile Design</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>


<!-- Case Block -->
<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Website Development and Basic SEO Work</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Web Development for Views, Live Matches & Gossips</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Web Development for Sportwetten Online</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Web Development for Stainless Steel Railing Kits</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Web Development for Furniture Interior Online Store</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Web Development for Alif Home Delivery Services</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>
<!-- Case Block -->
<div class="case-block mix all web-development col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="/images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="/images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Website Design and Development</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>