@* design *@
<!-- Case Block -->
<div class="case-block mix all uiux col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/book-store/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/book-store/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-book-store" })">Book Store</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-book-store" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all uiux col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/coding-gurus/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/coding-gurus/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-coding-gurus" })">Codinggurus</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-coding-gurus" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all uiux col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/linux-gurus/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/linux-gurus/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-linux-gurus" })">Linuxgurus</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-linux-gurus" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all uiux col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/party-app/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/party-app/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-party-app" })">Party App</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-party-app" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all uiux col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/ride-app/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/ride-app/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-ride-app" })">Ride App</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-ride-app" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all uiux col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/ukdt/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/ukdt/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-ukdt" })">Ukdt App</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-ukdt" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all uiux col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/nursing-agency/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/nursing-agency/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-nursing-agency" })">Nursing Agency</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-nursing-agency" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all uiux col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/uxui/my-boost/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/uxui/my-boost/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-my-boost" })">My Boost</a></h4>
                    <div class="category">UI / UX</div>
                </div>
                <a href="@Url.Action("PortfolioDetail", "Home", new { portfolioSlug = "ui-ux-design-for-my-boost" })" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>