@{
    ViewBag.Title = "OurBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="blog-page-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>CTD Blogs</h2>
            <h6>Latest tools and resources for online marketing and web design.</h6>
        </div>
        <div class="row clearfix">

            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "why-blogging-is-important-for-sacramento-seo"})">Why Blogging is Important for Sacramento SEO</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "why-blogging-is-important-for-sacramento-seo"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <img src="images/resource/news-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body lower-content">
                            <a href="#" class="font-montserrat"><strong>Article</strong></a>
                            <h4><a href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Define World Best IT Solution Technology</a></h4>
                            <div class="text font-montserrat">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
                            <strong class="base-color font-montserrat">Mukarram</strong>
                            <div class="">
                                <time datetime="April 13th, 2023" class="base-color font-montserrat"> April 13th, 2023</time>
                                <span aria-hidden="true">·</span>
                                <a class="read-more" href="@Url.Action("BlogDetail","Home", new { blogSlug = "define-world-best-it-solution"})">Read More<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Blog Page Section -->


<script>
    $(document).ready(function () {
        CTDNav.AddCurrentActiveClass(`blog`)
    })
</script>