<ul class="navigation clearfix">
    <li class="home">
        <a href="@Url.Action("Index","Home")">Home</a>
    </li>
    <li class="about">
        <a href="@Url.Action("AboutUs","Home")">About</a>
    </li>
    <li class="dropdown services">
        <a href="#">Services</a>
        <ul>
            <partial name="~/Views/Shared/Partials/_ServicesListOptions.cshtml" />
        </ul>
    </li>
    <li class="portfolio">
        <a href="@Url.Action("Portfolio","Home")">Portfolio</a>
    </li>
    @*<li class="blog">
        <a href="@Url.Action("Blogs","Home")">Blogs</a>
    </li>*@
    <li class="contact"><a href="@Url.Action("ContactUs","Home")">Contact us</a></li>
</ul>