<ul class="navigation clearfix">
    <li class="home">
        <a href="@Url.Action("Index","Home")">Home</a>
    </li>
    <li class="about">
        <a href="@Url.Action("AboutUs","Home")">About</a>
    </li>
    <li class="dropdown services">
        <a href="@Url.Action("Services","Home")">Services</a>
        <ul>
            <li><a href="@Url.Action("DigitalMarketing","Home")">Digital Marketing</a></li>
            <li><a href="@Url.Action("WebDevelopment","Home")">Web Development</a></li>
            <li><a href="@Url.Action("GraphicDesigning","Home")">Graphic Designing</a></li>
            <li><a href="@Url.Action("MobileAppDevelopment","Home")">Mobile App Development</a></li>
            <li><a href="@Url.Action("CustomSoftwareDevelopment","Home")">Custom Software Development</a></li>
        </ul>
    </li>
    <li class="portfolio">
        <a href="@Url.Action("Portfolio","Home")">Portfolio</a>
    </li>
    <li class="blog">
        <a href="@Url.Action("Blogs","Home")">Blogs</a>
    </li>
    <li class="contact"><a href="@Url.Action("ContactUs","Home")">Contact us</a></li>
</ul>